@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

html {
  background-color: #EFE2BA;
}

canvas { 
  width: 100%; 
  height: 100% 
}

.container {
  margin-left: 1rem;
  margin-right: 1rem
}

h1, h2, h3, p {
  text-align: center;
  font-family: 'Antic Slab';
}

.title {
  text-align: center;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  list-style: none;
  background-color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}