@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

:root {
  --White: #FFFFFF;     /* DONT CHANGE ORDER */
  --First: #945436;     /* TITLES */
  --Second: #fff5cc;    /* BACKGROUND */ 
  --Third: #FD3A0F;     /* ANGER */ 
  --Fourth: #008500;    /* LOVE */
  --ThirdTwo: #D67400;  
  --FourthTwo: #0DBCBC; 
}

body {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--Second);
}

h1, h2, h3, p {
  color: var(--First);
  text-align: center;
  font-family: 'Antic Slab';
}

@media (min-width: 5rem) {
  .flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.legende {
  background-color: white;
  padding: .3rem;
}

.colors {
  display: flex;
  list-style: none;
  justify-content: center;  
  padding: 0;
  background-color: white;
}
.colors li {
  padding: 1rem;
}

.anger {
  color: var(--Third);
}
.love {
  color: var(--Fourth)
}
.nasty {
  color: var(--ThirdTwo);
}
.nice {
  color: var(--FourthTwo)
}