body {
    text-align: center;
}

#head {
    background-color: black;
    color: white;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

#content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    width: 50%;
    background-color: dodgerblue;
    color: white;
}